<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
            [v-cloak] {
                display: none;
            }
        </style>
    </head>

    <body>
        <div v-cloak id="app">
            <h2>迭代数组 (item, index) in items</h2>
            <ul>
                <li v-for="(item, index) in items" :key="item.id">
                    {{ item.message }} -- {{ index }}
                </li>
            </ul>
            <h2>迭代对象 (value, key, index) in o</h2>
            <h3>注意：书写顺序</h3>
            <ul>
                <li v-for="(value,key,index) in o">
                   {{ value }} -- {{ key }} -- {{ index }}
                </li>
            </ul>
            <h2>迭代数字 count in 10</h2>
            <h3>注意：从1开始</h3>
            <ul>
                <li v-for="count in 10">
                    {{ count }}
                </li>
            </ul>
        </div>

        <script src="./lib/vue.js"></script>
        <script>
            var vm = new Vue({
                el: "#app",
                data() {
                    return {
                        items: [{
                                id: 0,
                                message: 'Foo'
                            },
                            {
                                id: 1,
                                message: 'Bar'
                            }
                        ],
                        o: {
                            id: "123",
                            name: "456",
                            gender: "0"
                        }
                    }
                }
            });
        </script>
    </body>

</html>